<!doctype html>
<html>
<title>Les archives de Babel</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/main_css.css') }}">

<header>
  <h1 style="text-align:center"> Les archives de Babel </h1>
  <h2 style="text-align:center"> Accueil </h2>
</header>

<nav style="text-align:center; background-color:LightGray">
  <a href="accueil">Accueil</a> -
  <a href="auteur">Auteurs</a> -
  <a href="recherche">Recherche</a>
</nav>

<p style="text-align:center">
  Bienvenue sur le site <b><i>Les archives de Babel</i></b>.
</p>



</html>
