<!doctype html>
<html>
<head>
  <title>Les archives de Babel</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main_css.css') }}">
</head>

<body>
  <header>
  <h1 style="text-align:center"> Les archives de Babel </h1>
  <h2 style="text-align:center"> Accueil </h2>
</header>

<nav style="text-align:center; background-color:LightGray">
  <a href="{{url_for('auteur')}}">Auteurs</a> -
  <a href="{{url_for('revue')}}">Revues</a> -
  <a href="{{url_for('comite')}}">Comités</a> -
  <a href="{{url_for('labo')}}">Laboratoires</a> -
  <a href="{{url_for('recherche')}}">Recherche</a>
</nav>

<p style="text-align:center">
  Bienvenue sur le site <b><i>Les archives de Babel</i></b>.
</p>



</body>
</html>
