<!doctype html>
<html>
<head>
  <title>Auteurs</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main_css.css') }}">
</head>

<body>
<header>
  <h1 style="text-align:center"> Les archives de Babel </h1>
  <h2 style="text-align:center"> Auteurs </h2>
</header>

<nav style="text-align:center; background-color:LightGray">
    <a href="{{url_for('accueil')}}">Accueil</a> -
    <a href="{{url_for('revue')}}">Revues</a> -
    <a href="{{url_for('comite')}}">Comités</a> -
    <a href="{{url_for('labo')}}">Laboratoires</a> -
    <a href="{{url_for('recherche')}}">Recherche</a> -
    <a href="{{url_for('admin')}}">Admin</a>
</nav>

<p style="text-align:center">
  Voici la liste de tous les auteurs :
  <br>
</p>

<table border="1" align="center">

    <thead>
        <tr>
            <th scope="col">Nom</th>
            <th scope="col">Prénom</th>
            <th scope="col">Email</th>
        </tr>
    </thead>
    <tbody>
        {% for auteur in lst_auteur %}
        <tr class="ligne-cliquable" data-href="{{ url_for('info_auteur', idPersonne=auteur.idpersonne) }}">
            <th scope="row">{{auteur.nom}}</th>
            <th scope="row">{{auteur.prenom}}</th>
            <th scope="row">{{auteur.email}}</th>
        </tr>

        {% endfor %}
    </tbody>
</table>


<p style="text-align:center">
  <br>
  Vous pouvez cliquer sur un auteur pour avoir plus d'information à son sujet.
</p>
  


<script>
document.addEventListener("DOMContentLoaded", function () {
    document.querySelectorAll(".ligne-cliquable").forEach(row => {
        row.addEventListener("click", () => {
            window.location = row.dataset.href;
        });
    });
});
</script>
</body>
</html>
