<!doctype html>
<html>
<head>
    <title>Information Revue</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main_css.css') }}">
</head>

<body>
    <header>
  <h1 style="text-align:center"> Les archives de Babel </h1>
  <h2 style="text-align:center"> Information Revue </h2>
</header>

<nav style="text-align:center; background-color:LightGray">
  <a href="{{url_for('accueil')}}">Accueil</a> -
  <a href="{{url_for('auteur')}}">Auteurs</a> -
  <a href="{{url_for('revue')}}">Revues</a> -
  <a href="{{url_for('comite')}}">Comités</a> -
  <a href="{{url_for('labo')}}">Laboratoires</a> -
  <a href="{{url_for('recherche')}}">Recherche</a> -
  <a href="{{url_for('admin')}}">Admin</a>
</nav>

<p>
  Vous êtes sur la page de la revue <b><i>{{revue.nom_revue}} </i></b>. <br>
  Elle est géré par le comité suivant : <b><a href="{{url_for('info_comite', idComite=revue.idcomite)}}">{{revue.nom_comite}}</a></b>
  <br>
  Voici les articles qui appartiennent à la revue :

  <ul>
    {% for info in articles %}
    <li><a href="{{url_for('info_article', idArticle=info.idarticle)}}">{{info.site_web_article}}</a></li>
    {% endfor %}
  </ul>

</p>
</body>

</html>
