<!doctype html>
<html>
<head>
    <title>Information Introuvable</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main_css.css') }}">
</head>

<body>
    <header>
  <h1 style="text-align:center"> Les archives de Babel </h1>
  <h2 style="text-align:center"> Information Introuvable </h2>
</header>

<nav style="text-align:center; background-color:LightGray">
  <a href="{{url_for('accueil')}}">Accueil</a>
  <a href="auteur">Auteurs</a> -
</nav>

<p>
  Les informations que vous chercher sont <b>introuvable</b>. Veuillez essayer à nouveau.
</p>
</body>

</html>
