<!doctype html>
<html>
<head>
    <title>Information Laboratoire</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main_css.css') }}">
</head>

<body>
    <header>
  <h1 style="text-align:center"> Les archives de Babel </h1>
  <h2 style="text-align:center"> Information Laboratoire </h2>
</header>

<nav style="text-align:center; background-color:LightGray">
  <a href="{{url_for('accueil')}}">Accueil</a> -
  <a href="{{url_for('auteur')}}">Auteurs</a> -
  <a href="{{url_for('revue')}}">Revues</a> -
  <a href="{{url_for('comite')}}">Comités</a> -
  <a href="{{url_for('labo')}}">Laboratoires</a> -
  <a href="{{url_for('recherche')}}">Recherche</a> -
  <a href="{{url_for('admin')}}">Admin</a>
</nav>

<p>
  Vous êtes sur la page du laboratoire <b><i>{{labo.nom_laboiratoire}} </i></b>. 
  <br>
  Voici les informations sur ce laboratoire :

  <ul>
    <li>Adresse : <b>{{labo.adresse}}</b></li>
    <li>Type d'établissement : <b>{{labo.type}}</b></li>
    <li>Ville : <b>{{labo.nom_ville}}</b></li>
    <li>Pays : <b>{{labo.nom_pays}}</b></li>
  </ul>

  Voici les auteurs qui ont écrit un article dans le laboratoire :

  <ul>
    {%for info in auteurs %}
    <li><a href="{{url_for('info_auteur', idPersonne=info.idpersonne)}}">{{info.site_web_auteur}}</a></li>
    {% endfor %}
  </ul>

  Voici les articles qui ont été écrit dans le laboratoire :

  <ul>
    {%for info in articles %}
    <li><a href="{{url_for('info_article', idArticle=info.idarticle)}}">{{info.site_web_article}}</a></li>
    {% endfor %}
  </ul>

</p>
</body>

</html>
