<!doctype html>
<html>
<head>
  <title>Recherche</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main_css.css') }}">
</head>

<body>
  <header>
    <h1 style="text-align:center"> Les archives de Babel </h1>
    <h2 style="text-align:center"> Recherche </h2>
  </header>

  <nav style="text-align:center; background-color:LightGray">
    <a href="accueil">Accueil</a> -
    <a href="auteur">Auteurs</a> 
  </nav>

  <div class="recherche-wrapper">
    <div class="recherche-container">
      <div class="recherche-block">
        <h3>Critères de recherche</h3>
        <form method="post" action="recherche">
          <fieldset style="border-radius: 8px;">
            {% for crit in critere_recherche %}
            <div class="center">
              <input type="radio" name="critere" id="critere" value="{{crit}}">
              <label for="critere"> {{crit}} </label>
            </div>
            {% endfor %}
            <input type="submit" value="Valider" class="search-button">
          </fieldset>
        </form>
      </div>
    </div>

    <div class="searchresult-container">
      <div class="searchresult-block">
        <h3>Résultats de recherche</h3>
        {% if resultat_recherche == None %}
          <p>Les résultats apparaîtront ici</p>
        {% elif resultat_recherche != None %}
          {% for art in resultat_recherche %}
          <p class="searchresult-articles">
            <b><i>{{ art.site_web_article[4:-4] }}</i></b><br>
            {{ art.prenom }} {{ art.nom }}<br>
            <i>{{ art.annee_pub }}</i>
          </p>
          {% endfor %}
        {% endif %}
      </div>
    </div>
  </div>

</body>
</html>