<!doctype html>
<html>
<head>
  <title>Recherche</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main_css.css') }}">
</head>

<body>
  <header>
    <h1 style="text-align:center"> Les archives de Babel </h1>
    <h2 style="text-align:center"> Recherche </h2>
  </header>

  <nav style="text-align:center; background-color:LightGray">
    <a href="accueil">Accueil</a> -
    <a href="auteur">Auteurs</a> 
  </nav>

  <div class="recherche-wrapper">
    <div class="recherche-container">
      <div class="recherche-block">
        <h3>Critères de recherche</h3>
        <form method="get" action="accueil">
          <select name="critere" id="critere">
              <option value="">Choisir un critère</option>
              {% for crit in critere_recherche %}
              <option value="{{crit}}">{{crit}}</option>
              {% endfor %}
          </select>
          <input type="submit" value="Valider" class="search-button">
        </form>
      </div>
    </div>

    <div class="searchresult-container">
      <div class="searchresult-block">
        <h3>Résultats de recherche</h3>
        <p>Les résultats apparaîtront ici</p>
      </div>
    </div>
  </div>



</body>
</html>
